
/* Header */
/* moved to header.css */
  /* end of header section*/

  /* Main content */

main {
    background-color: var(--main-background);
    /* background-image: url(../images/james-lee-8vU2drMLiyM-unsplash.jpg); */
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;     
     margin-top: 50px;     
    /* Enable flex properties for the child elements  */
    display: flex;
    flex-direction:column;
    margin-top: 45px; 
    /* border: solid 3px red; */
}

.canvas-wrap{
    width: 99%;
    display: flex;
    text-align: center;   
    flex-direction: column; 
   
    border: solid 3px green;
}

.canvas-container {    
    flex-direction: row;
    margin: auto;
    /* border: solid 1px yellow; */
}

#mycanvas {
    
    margin: auto;
    border: solid 3px red;
}

#snake-score{
    background-color: var(--color-1) ;
    font-size:x-large;    
}

#control-area {
    display: flex;
    flex-direction:row;   
    margin-left: 5px;
    align-items: center;
    border: solid 5px brown;
/* height - the same as height of canvas */    


    height: 100%;
    align-items: flex-start;
    margin:auto;
    max-width: 95vh;
}

#score-div{    
    margin-left:1rem;
    /* border: solid 2px red; */

}

.start-pause {
    display: flex;
    flex-direction:row;  
    /* border: solid 2px yellowgreen; */

    margin-top: 3rem;
    margin-left: -8rem;
}

.score-text{    
    text-align: center;    
}

.buttons{    
   margin: auto;
    order: 5;

    /* border: solid 2px blue; */
}

.row{
    margin:auto;
    /* border: solid 2px blue; */    
}


#restart{
    padding: 5px;
    margin: auto;
}

#pause-button{
    padding: 5px;
}

/* for a larger screen ---!!!!!!!!!!!*/

@media screen and (min-width:768px){
#score-div{
    margin:auto;
}

.start-pause {
    display: flex;
    flex-direction:row;  
    /* border: solid 2px yellowgreen; */
    margin:auto;
}

    
.canvas-wrap{
    width: 99%;
    display: flex;
    text-align: center;  
    flex-direction:row; 
    /* border: solid 3px green; */
}


#control-area {
    display: flex;
    flex-direction:column;   
    margin-left: 5px;
    align-items: center;
    /* border: solid 5px brown; */
/* height - the same as height of canvas */
    height: 480px;

}


.row{
    margin:auto;
    /* border: solid 2px blue; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin:auto;    
}

.score-text{  
    text-align: center;
    align-items: center;    
}
}

/* HEADER                    HEADER                       HEADER    */






/* Header */
